[Unit]
Description= Execute reminder program every minute

[Service]
ExecStart=/home/Ningen/.config/bspwm/scripts/Reminders/reminders.sh

[Install]
WantedBy=multi-user.target
