
[Desktop Entry]
Name=Ghidra
Exec=/usr/bin/ghidra
Icon=/home/Ningen/.local/share/applications/ghidra-icon.png
Type=Application
Categories=Development;Security;
Terminal=false



