// Eww colors for Marisol rice
$bg: #282a36;
$bg-alt: #2f3240;
$fg: #f8f8f2;
$black: #21222c;
$lightblack: #727169;
$red: #ff5555;
$blue: #bd93f9;
$cyan: #8be9fd;
$magenta: #ff79c6;
$green: #50fa7b;
$yellow: #f1fa8c;
$archicon: #0f94d2;
