// Eww colors for Brenda rice
$bg: #2d353b;
$bg-alt: #272e33;
$fg: #d3c6aa;
$black: #475258;
$lightblack: #262831;
$red: #e67e80;
$blue: #7fbbb3;
$cyan: #83c092;
$magenta: #d699b6;
$green: #a7c080;
$yellow: #dbbc7f;
$archicon: #0f94d2;
