// Rofi colors for Brenda

* {
    font: "JetBrainsMono NF Bold 9";
    background: #2d353b;
    background-alt: #2d353bE0;
    foreground: #d3c6aa;
    selected: #7fbbb3;
    active: #a7c080;
    urgent: #e67e80;
    
    img-background: url("~/.config/bspwm/rices/brenda/rofi.webp", width);
}
